.b-address_title {
    font-weight: 300;
    font-size: 16px;
    color: #222222;
    margin-bottom: 20px;
}
.b-address__input {
    display: block;
    height: 45px;
    width: 360px;
    margin-bottom: 20px;
    padding: 0 17px;
    box-sizing: border-box;
    border: 1px solid #A4A4A4;
    &::placeholder {
        font-weight: 300;
        font-size: 13px;
        color: #222222;
    }
}
.b-address__btn {
    margin-top: 4px;
    height: 35px;
    width: 131px;
    background: #fff;
    font-weight: 300;
    font-size: 11px;
    color: #4A4A4A;
    border: 1px solid #A4A4A4;
    cursor: pointer;
    @media (max-width: 767px) {
        height: 34px;
        width: 100px;
        text-transform: lowercase;
        &:first-letter {text-transform: uppercase;}
    }
}
.b-address__country {
    &::placeholder {
        color: #B1B1B1;
    }
}
