@import '../../css/style.css';
@import '../../css/fetured.css';
.b-collection_centrize, .title .title_container {
  max-width: 1140px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1172px) {
  .b-collection_centrize, .title .title_container {
    margin: 0 16px;
  }
}
@media (max-width: 767px) {
  .b-collection_centrize, .title .title_container {
    margin: 0 8px;
  }
}

.title {
  height: 148px;
  background: #F8F3F4;
}
.title .title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
.title .title_container p {
  font-weight: normal;
  font-size: 24px;
  color: #F16D7F;
}
.title .title_container a, .title .title_container span {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: #636363;
}
.title .title_container a:last-child {
  color: #F16D7F;
  font-weight: 700;
}
.title .title_container span {
  margin: 0 2px;
}
@media (max-width: 600px) {
  .title .title_container {
    flex-direction: column;
    justify-content: initial;
  }
  .title .title_container p {
    margin: 24px 0 32px;
  }
}

.b-slider {
  height: 777px;
  background: #F7F7F7;
  position: relative;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  padding: 11px 0 42px;
}
@media (min-width: 768px) and (max-width: 1140px) {
  .b-slider {
    height: 624px;
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .b-slider {
    height: 624px;
    padding: 85px 0;
  }
}
.b-slider .b-slider__slideLeft,
.b-slider .b-slider__slideRight {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 23.5px);
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
}
.b-slider .b-slider__slideRight {
  right: 0;
  background-image: url("../img/right.png");
}
.b-slider .b-slider__slideRight:hover {
  background-image: url("../img/rightRed.png");
}
.b-slider .b-slider__slideLeft {
  left: 0;
  background-image: url("../img/left.png");
}
.b-slider .b-slider__slideLeft:hover {
  background-image: url("../img/leftRed.png");
}
.b-slider .b-slider__image {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.b-fetured_margin {
  margin-top: 128px;
  margin-bottom: 128px;
}
@media (max-width: 767px) {
  .b-fetured_margin {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1140px) {
  .b-fetured_margin {
    margin-top: 64px;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
  .b-fetured_size3-2 .fetured-block:nth-child(3) {
    display: none;
  }
}
@media (max-width: 767px) {
  .b-fetured_size3-2 .fetured-block:nth-child(2) {
    display: none;
  }
}

.b-collection {
  background-color: white;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  height: 601px;
  padding: 64.5px 0;
  text-align: center;
}
.b-collection .b-collection__title {
  font-weight: 300;
  font-size: 14px;
  color: #F16D7F;
}
.b-collection .b-collection__separator_pink {
  height: 3px;
  width: 63px;
  background: #EF5B70;
  margin: 12px auto;
  margin-top: 12px;
  margin-bottom: 12px;
}
.b-collection .b-collection__subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #4D4D4D;
}
.b-collection .b-collection__descr {
  font-weight: 300;
  font-size: 14px;
  color: #5E5E5E;
  width: 555px;
  margin: 49px auto 33px;
}
@media (max-width: 600px) {
  .b-collection .b-collection__descr {
    width: 326px;
    margin-top: 32px;
  }
}
.b-collection .b-collection__prise {
  font-weight: 300;
  font-size: 24px;
  color: #EF5B70;
}
.b-collection .b-collection__separator_grey {
  height: 1px;
  max-width: 641px;
  background: #EAEAEA;
  margin: 65px auto;
}
@media (max-width: 700px) {
  .b-collection .b-collection__separator_grey {
    max-width: 175px;
    margin: 32px auto 49px;
  }
}
.b-collection .b-collection__button {
  height: 47px;
  width: 211px;
  border: 1px solid #FF6A6A;
  box-sizing: border-box;
  font-size: 16px;
  color: #F26376;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  cursor: pointer;
}
.b-collection .b-choose {
  font-size: 14px;
  color: #6F6E6E;
  margin-bottom: 49px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .b-collection .b-choose {
    font-size: 10px;
    margin-bottom: 65px;
  }
}
.b-collection .b-choose .b-choose__item {
  margin: 0 11px;
}
.b-collection .b-choose .b-choose__img {
  margin-bottom: 2px;
  margin-left: 9px;
}

@media (min-width: 1140px) {
  .b-collection_centrize {
    position: relative;
    bottom: 65px;
  }
}/*# sourceMappingURL=product.css.map */