@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .offers {
        display: -ms-grid;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        -ms-grid-rows: 260px 30px 180px;
    }
    .offer:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .offer:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }
    .offer:nth-child(3) {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
    }
    .offer:nth-child(4) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        -ms-grid-column-span : 5;
    }
    .offer {
        overflow: hidden;
    }
    .offer img {
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
    }

    .fetured-container {
        display: -ms-grid;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        -ms-grid-rows: 1fr 30px 1fr;
        padding: 0 16px;
        max-width: 1140px;
    }
    .fetured-block:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .fetured-block:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }
    .fetured-block:nth-child(3) {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
    }
    .fetured-block:nth-child(4) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }
    .fetured-block:nth-child(5) {
        -ms-grid-column: 3;
        -ms-grid-row: 3;
    }
    .fetured-block:nth-child(6) {
        -ms-grid-column: 5;
        -ms-grid-row: 3;
    }

    .container {
        display: -ms-grid;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        -ms-grid-rows: 1fr;
    }
    .servise:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .servise:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }
    .servise:nth-child(3) {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
    }
}    

@media all and (max-width: 1140px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .offers{
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        -ms-grid-rows: 167px 20px 116px;
    }
    .offer {
        overflow: hidden;
    }
    .offer:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .offer:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }
    .offer:nth-child(3) {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
    }
    .offer:nth-child(4) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        -ms-grid-column-span : 5;
    }

    .fetured-container {
        -ms-grid-columns: 1fr 16px 1fr;
        -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
    }
    .fetured-block:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .fetured-block:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }
    .fetured-block:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }
    .fetured-block:nth-child(4) {
        -ms-grid-column: 3;
        -ms-grid-row: 3;
    }
    .fetured-block:nth-child(5) {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }
    .fetured-block:nth-child(6) {
        -ms-grid-column: 3;
        -ms-grid-row: 5;
    }

    .container {
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 30px 1fr 30px 1fr;
    }
    .servise:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .servise:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }
    .servise:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }
}

@media all and (max-width: 767px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .offers{
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 247px 32px 247px 32px 247px 32px 111px;
    }
    .offer:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .offer:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }
    .offer:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }
    .offer:nth-child(4) {
        -ms-grid-column: 1;
        -ms-grid-row: 7;
    }
    
    .fetured-container {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr ;
        padding: 0 8px
    }
    .fetured-block:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .fetured-block:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }
    .fetured-block:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }
    .fetured-block:nth-child(4) {
        -ms-grid-column: 1;
        -ms-grid-row: 7;
    }
    .fetured-block:nth-child(5) {
        -ms-grid-column: 1;
        -ms-grid-row: 9;
    }
    .fetured-block:nth-child(6) {
        -ms-grid-column: 1;
        -ms-grid-row: 11;
    }
}
