  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

.red-txt {
    color: #F16D7F;
}

.hidden {
    display: none;
}

header {
    background-color: #222222;
    height: 75px;
}
.head-box {
    padding: 20px 16px;
    /*overflow: hidden;*/
    align-items: center;
    margin: 0 auto;
    max-width: 1140px;
}
.left-head {
    float: left;
}
.right-head {
    text-align: right;
    position: relative;

}

.menu-img {
    padding: 0 18px;
}
.menu-p:first-child img {
    margin-left: 0;
}
.menu-p:last-child img {
    margin-right: 0;
}
.cart-items {
    position: relative;
    display: inline-block;
}
.cart-items span {
    position: absolute;
    background-color: #F16D7F;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    color: #fff;
    text-align: center;
    line-height: 19px;
    top: -8px;
    right: 8px;
    font-size: 12px;
}




.cart-panel {
    position: absolute;
    top: 40px;
    right: 5px;
    z-index: 1;
    background: white;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    min-width: 400px;
    padding: 10px;
    text-align: center;
}

.cartPanel-header,
.cartPanel-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.prod-name{
    width: 205px;
    height: 1em;
    overflow: hidden;
}
.cartPanel-total{
    text-align: right;
    font-weight: bold;
}





@media (max-width: 767px) {
    .user, .cart { display: none; }
}

.menu-panel {
    width: 232px;
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    font-size: 14px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 1;
}
.close {
    position: relative;
}
.close-img {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}
.menu-group a {
    display: block;
    padding-left: 54.5px;
    padding-bottom: 11px;
    text-decoration: none;
    line-height: 17px;
    color: #6F6E6E;
}
.menu-group a:hover {
    color: #F16D7F;
}
.menu-title {
    padding: 37px 34px 15px;
    font-weight: 700;
}
.menu-head {
    padding: 9px 33px 12px;
}

@media (max-width: 1300px) {
    .menu-panel {
        width: 350px;
    }
    .menu-body {
        column-count: 2;
        column-gap: 0;
    }
    .menu-group{
        break-inside: avoid;
        page-break-inside: avoid;
    }
}

@media (max-width: 900px) {
    .menu-panel {
        width: 375px;
    }
    .menu-body {
        column-count: 3;
        column-width: 100px;
        column-gap: 0px;
    }
    .menu-group{
        break-inside: avoid;
        page-break-inside: avoid;
    }
    .menu-title,
    .menu-head,
    .menu-group a {
        padding-left: 15px;
        padding-right: 3px;
    }
}

@media (max-width: 375px) {
    .menu-panel {
        width: 100%;
    }
}   

.servises {
    background: #222224;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 103px;
    padding-bottom: 104px;
    margin: 0 auto;
    text-align: center;
    max-width: 1140px;
}
.servise {
    color: #FBFBFB;
    width: 320px;
    margin: 0 auto;
}
.servise_title {
    font-size: 19.96px;
    margin-top: 23px;
    margin-bottom: 16px;
}
.servise_txt {
    font-weight: 300;
    font-size: 13.972px;
}

@media (max-width: 1140px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 47px;
        padding-top: 48px;
        padding-bottom: 73px;
    }
}

.subscribe {
    background: url('../img/photoSubscribe.jpg') no-repeat;
    background-size: cover;
}
.subscribe_container {
    text-align: center;
    padding: 87px 0 126px;
    color: #222224;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}
.subscribe_left,
.subscribe_beetwen,
.subscribe_right {
   width: 33%;
}
.subscribe_txt {
    font-size: 20px;
    line-height: 24px;
    max-width: 345px;
    margin: 30px auto;
}
.subscribe_title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 60px;
}
.subscribe_description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.subscribe_form {
    height: 50px;
}
.subscribe_form input,
.subscribe_form button {
    border: none;
    height: inherit;
    font-family: inherit;
}
.subscribe_form input {
    background-color: #E1E1E1;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    width: 240px;
    padding-left: 22px;
}
.subscribe_form button {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    background: #F16D7F;
    color: white;
    width: 90px;
    cursor: pointer;
}
.subscribe_form button:hover {
    background: #E1E1E1;
    color: #F16D7F;
}

@media (max-width: 1140px) {
    .subscribe_container {
        flex-direction: column;
        padding: 54px 0 120px;
    }
    .subscribe_left,
    .subscribe_right {
        width: 100%;
    }
    .subscribe_beetwen{
        width: 0%;
    }
    .subscribe_txt {
        font-size: 18px;
    }
    .subscribe_description {
        font-size: 14px;
    }
}

footer{
    background: #222224;
    height: 80px;
    width: 100%;
}
.footer_container {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding-left: 20px;
    overflow: hidden;
}
.footer_left {
    color: #FBFBFB;
    line-height: 80px;
    font-size: 16px;
}
.footer_right {
    color: #FBFBFB;
    line-height: 80px;
    position: absolute;
    right: 20px;
    top: 10px;
}
footer a {
    display: inline-block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    background: white;
    color: black;
    position: relative;
}
.fab {
    position: absolute;
    top: 25%;
    left: 30%;
}
footer a:not(:last-child) {
    margin-right: 7px;
}
footer a:hover {
    background: #f16d7f;
    color: white;
}

@media (max-width: 767px) {
    footer{
        height: 143px;
    }
    .footer_container {
        padding-left: 0;
    }
    .footer_left {
        line-height: 20px;
        padding-top: 115px;
        text-align: center;
    }
    .footer_right {
        top: 20%;
        right: auto;
        width: 100%;
        text-align: center;
    }
}
