.b-slider {
    height: 777px;
    background: #F7F7F7;
    position: relative;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    padding: 11px 0 42px;
    @media (min-width: 768px) and (max-width: 1140px) {
        height: 624px;
        padding: 30px 0;
    }
    @media (max-width: 767px) {
        height: 624px;
        padding: 85px 0;
    }

    .b-slider__slideLeft,
    .b-slider__slideRight {
        cursor: pointer;
        position: absolute;
        top: calc(50% - 47px / 2);
        height: 47px;
        width: 47px;
        background-color: rgba(42, 42, 42, 0.15);
        background-repeat: no-repeat;
        background-position: center center;
    }
    .b-slider__slideRight {
        right: 0;
        background-image: url('../img/right.png');
        &:hover {
            background-image: url('../img/rightRed.png');
        }
    }
    .b-slider__slideLeft {
        left: 0;
        background-image: url('../img/left.png');
        &:hover {
            background-image: url('../img/leftRed.png');
        }
    }
    .b-slider__image {
        display: block;
        height: 100%;
        width: auto;
        margin: 0 auto;
    }
}
